<app-menu></app-menu>
<div class="p-4">
  <table class="table table-striped table-hover">
    <thead>
      <th>Request Create</th>
    </thead>
    <tbody>
       <tr>
        <td>
          User:
            <input [(ngModel)]="newRequest.user.characterName" type="text" style="margin-left: 75px;" disabled />
        </td>
      </tr>
      <tr>
        <td>
          Description:
          <input [(ngModel)]="newRequest.description" type="text" style="margin-left: 27px;" />
        </td>
      </tr>
      <tr>
        <td>
          Justificatoin:
          <input [(ngModel)]="newRequest.justification" type="text" style="margin-left: 24px;" />
        </td>
      </tr>
      <tr>
        <td>
          Date Needed:
          <input [(ngModel)]="newRequest.dateNeeded" type="date" style="margin-left: 15px;" />
        </td>
      </tr>
      <tr>
        <td>
          Delivery Mode:
            <select [(ngModel)]="newRequest.deliveryMode" class="rounded" style="margin-left: 6px;">
              <option *ngFor="let delivery of deliveries" [ngValue]="delivery">
                {{ delivery }}
              </option>
            </select>
          </td>
      </tr>
      <tr>
        <td>
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="addRequest()"
          >
            Add Product
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  